In [2]:
import pandas as pd

In [3]:
df_movies = pd.read_csv('../data/movie.csv')
df_movies_extra = pd.read_csv('../data/movies_extra.csv')

In [4]:
movies = pd.read_csv('../data/movie.csv')
links = pd.read_csv('../data/link.csv')

# Объединение датасетов по колонке movieId
movies_with_tmdb = pd.merge(movies, links[['movieId', 'tmdbId']], on='movieId', how='left')

# Сохранение результата
movies_with_tmdb.to_csv('movies_with_tmdb.csv', index=False)

In [5]:
movies_with_tmdb = movies_with_tmdb.dropna(how='any')
movies_with_tmdb['tmdbId'] = movies_with_tmdb['tmdbId'].apply(int)

In [6]:
df_movies_extra_cleaned = df_movies_extra.dropna(how='any')

In [7]:
df_movies_extra_cleaned['tmdbid'] = df_movies_extra_cleaned['tmdbid'].apply(int)

/var/folders/3_/0zlq__wj47xg9llgg6qg6jzc0000gn/T/ipykernel_17859/1082897906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_extra_cleaned['tmdbid'] = df_movies_extra_cleaned['tmdbid'].apply(int)

In [8]:
df_movies_extra_cleaned.drop('release_date', axis = 1, inplace = True)
df_movies_extra_cleaned['vote_count'] = df_movies_extra_cleaned['vote_count'].apply(int)

/var/folders/3_/0zlq__wj47xg9llgg6qg6jzc0000gn/T/ipykernel_17859/2973655815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_extra_cleaned.drop('release_date', axis = 1, inplace = True)
/var/folders/3_/0zlq__wj47xg9llgg6qg6jzc0000gn/T/ipykernel_17859/2973655815.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_extra_cleaned['vote_count'] = df_movies_extra_cleaned['vote_count'].apply(int)

In [9]:
df_movies_extra_cleaned

,tmdbid,overview,production_countries,runtime,spoken_languages,vote_average,vote_count
0,30349,"Nobody likes to be made a fool of, especially ...","{""United States of America""}",84.0,{English},4.8,6
1,83099,A Southern belle frees a Rebel officer and his...,"{""United States of America""}",99.0,{English},6.1,70
2,862,"Led by Woody, Andy's toys live happily in his ...","{""United States of America""}",81.0,{English},8.0,18253
3,114562,Two top baseball prospects in the Dominican Re...,"{""United States of America"",""Dominican Republic""}",77.0,"{English,Español}",6.2,11
5,8844,When siblings Judy and Peter discover an encha...,"{""United States of America""}",104.0,"{English,Français}",7.2,10435
...,...,...,...,...,...,...,...
27001,19833,The US President and the UK Prime Minister are...,"{""United Kingdom""}",106.0,{English},7.0,659
27002,16919,"In GLOBAL METAL, directors Scot McFadyen and S...",{Canada},93.0,"{普通话,Português,日本語,עִבְרִית,हिन्दी,""Bahasa ind...",7.3,68
27004,15801,Two childhood friends from South Boston turn t...,"{""United States of America""}",100.0,{English},6.0,187
27005,8902,"In the periphery of São Paulo, the pregnant si...","{Brazil,France,""United States of America""}",108.0,{Português},6.7,40
27006,19618,Reformed parolee Steve Lacey is caught in the ...,"{""United States of America""}",73.0,{English},7.0,70

In [10]:
movies_with_tmdb = movies_with_tmdb[movies_with_tmdb['genres'] != '(no genres listed)']
movies_with_tmdb

,movieId,title,genres,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,862
1,2,Jumanji (1995),Adventure|Children|Fantasy,8844
2,3,Grumpier Old Men (1995),Comedy|Romance,15602
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,31357
4,5,Father of the Bride Part II (1995),Comedy,11862
...,...,...,...,...
27272,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror,9677
27273,131254,Kein Bund für's Leben (2007),Comedy,4436
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,9274
27275,131258,The Pirates (2014),Adventure,285213
27277,131262,Innocence (2014),Adventure|Fantasy|Horror,286971

In [11]:
df_movies_extra_cleaned.to_csv('df_movies_extra_cleaned.csv', index=False)

In [12]:
movies_with_tmdb.to_csv('movies_with_tmdb.csv', index=False)

In [13]:
movies_with_tmdb.rename(columns={'tmdbId': 'tmdbid'}, inplace=True)

In [14]:
movies_with_tmdb.to_csv('movies_with_tmdb.csv', index=False)

In [15]:
merged_movies = pd.merge(movies_with_tmdb, df_movies_extra_cleaned, on='tmdbid', how='inner')

# Сохранение результата (опционально)
# merged_movies.to_csv('merged_movies.csv', index=False)

In [16]:
merged_movies['runtime'] = merged_movies['runtime'].apply(int)

In [17]:
merged_movies['production_countries'] = merged_movies['production_countries'].str.replace(r'[{}"]', '', regex=True)
merged_movies['spoken_languages'] = merged_movies['spoken_languages'].str.replace(r'[{}]', '', regex=True)

In [18]:
# Добавление колонки 'movieId' к merged_movies по совпадению 'tmdbid'
merged_with_movieId = pd.merge(merged_movies, movies_with_tmdb[['movieId', 'tmdbid']], on='tmdbid', how='left')

merged_with_movieId.drop('movieId_y', axis=1, inplace=True)

In [19]:
merged_with_movieId.rename(columns={'movieId_x': 'movieId'}, inplace=True)

In [20]:
merged_with_movieId['genres'] = merged_with_movieId['genres'].str.replace('|', ',')

In [21]:
merged_with_movieId

,movieId,title,genres,tmdbid,overview,production_countries,runtime,spoken_languages,vote_average,vote_count
0,1,Toy Story (1995),"Adventure,Animation,Children,Comedy,Fantasy",862,"Led by Woody, Andy's toys live happily in his ...",United States of America,81,English,8.0,18253
1,2,Jumanji (1995),"Adventure,Children,Fantasy",8844,When siblings Judy and Peter discover an encha...,United States of America,104,"English,Français",7.2,10435
2,3,Grumpier Old Men (1995),"Comedy,Romance",15602,A family wedding reignites the ancient feud be...,United States of America,101,English,6.5,374
3,4,Waiting to Exhale (1995),"Comedy,Drama,Romance",31357,"Cheated on, mistreated and stepped on, the wom...",United States of America,127,English,6.3,160
4,5,Father of the Bride Part II (1995),Comedy,11862,Just when George Banks has recovered from his ...,United States of America,106,English,6.2,725
...,...,...,...,...,...,...,...,...,...,...
25478,131250,No More School (2000),Comedy,9565,The last three weeks of school life have begun...,Germany,99,Deutsch,5.9,66
25479,131252,Forklift Driver Klaus: The First Day on the Jo...,"Comedy,Horror",9677,Short film depicting a fictional educational f...,Germany,10,Deutsch,7.7,123
25480,131254,Kein Bund für's Leben (2007),Comedy,4436,The movie deals with a guy who gets to join th...,Germany,90,"Deutsch,English,Türkçe",6.0,52
25481,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,9274,Two friends who are doing civil service flee t...,Germany,83,Deutsch,4.4,29
25482,131258,The Pirates (2014),Adventure,285213,"At the cusp of the founding of Joseon Dynasty,...",South Korea,130,한국어/조선말,7.0,212

In [26]:
merged_with_movieId.to_csv('merged_movies.csv', index=False)